<div class="ui piled segment">
  <div>
  <h3 id="旅行社的信件">旅行社的信件</h3>

  <p>您好！</p>

  <p>敬请仔细阅读本通 知细则。 <br>
  请务必携带有效证件原件（身份证、护照），儿童携带户口本原件，婴儿携带出生证明，并仔细核对以下信息。</p></div><div id="wmd-preview-section-24" class="wmd-preview-section preview-content">

  <h4 id="去程日期2016-01-29">【去程日期】2016-01-29</h4>

  </div><div id="wmd-preview-section-29" class="wmd-preview-section preview-content">

  <h4 id="返程日期2016-02-02">【返程日期】2016-02-02</h4>

  </div><div id="wmd-preview-section-35" class="wmd-preview-section preview-content">

  <h4 id="去程交通">【去程交通】</h4>

  <p>飞机-出发:浦东国际机场， T2号航站楼 航班时间:2016-01-29 08:00:00 <br>
         经停:武汉,天河国际机场,11:00,10:00; <br>
         到达:三义机场， 号航站楼  航班时间:2016-01-29 13:30:00 <br>
         航班号:吉祥航空HO1073</p>

  </div><div id="wmd-preview-section-42" class="wmd-preview-section preview-content">

  <h4 id="返程交通">【返程交通】</h4>

  <p>飞机-出发:三义机场， 号航站楼 航班时间:2016-02-02 19:50:00 <br>
         经停:武汉,天河国际机场,22:45,22:00; <br>
         到达:浦东国际机场， T2号航站楼  航班时间:2016-02-03 00:15:00 <br>
         航班号:吉祥航空HO1074</p>

  </div><div id="wmd-preview-section-50" class="wmd-preview-section preview-content">

  <h4 id="温馨提示">【温馨提示】</h4>

  <p>如您的航班有任何变动，途牛会以 025-86859999 / 88034145 / 88034146 或 4007-999999 电话为准或途牛短信告知，其余任何方式告知的航变请留意，</p>

  <p>不要轻易相信以免上当受骗，如发现受骗请第一时间拨打 110 报警并可致电途牛进行核实，感谢您选择途牛旅游网，祝您生活愉快!</p>

  </div><div id="wmd-preview-section-59" class="wmd-preview-section preview-content">

  <h4 id="游客信息若发现信息有误请及时联系您的客服专员">【游客信息】（若发现信息有误，请及时联系您的客服专员）</h4>

  <p>仲琦YUE/ 女 身份证 ******199310240029 <br>
  朱ZHITING/ 女 身份证 ******199310253022 <br>
  蔡雨婷/ 女 身份证 ******199309223029 <br>
  王金鑫/ 男 身份证 ******199206083316</p>

  </div><div id="wmd-preview-section-69" class="wmd-preview-section preview-content">

  <h4 id="接送站信息">【接送站信息】</h4>

  <p>送站方式 :自行前往机场，请至少提前2小时到达机场，凭本人有效证件，自行办理登机手续。由于各大国际机场提高安检级别，安检时间有一定程度延长，请旅客提早到达机场，以免因为安检原因误机. <br>
     送机/站人:送机师傅 <br>
     联系电话:13618887278</p>

  <p>接站方式 :三义机场，举客人名字接机 <br>
     接机/站人: 接机师傅 <br>
     联系电话 :13618887278</p>

  <p>导游姓名 :行程不含导游  （导游最迟于出游当天联系您） <br>
     联系电话 :无  （请以导游短信为准，如遇紧急情况请优先联系导游获得最及时的解决）</p>

  </div><div id="wmd-preview-section-80" class="wmd-preview-section preview-content">

  <h4 id="紧急联系">【紧急联系】</h4>

  <p>出发地联系人：途牛出游中客服，电话：4007-999-999;9 <br>
     当地联系人：贺经理，电话：13578395858 <br>
     如遇紧急情况请首先拨打紧急联系人电话，若处理结果无法令您满意，可拨打途牛旅游网24小时服务电话4007-999-999或固定电话025-86859999按8。</p>

  </div><div id="wmd-preview-section-180" class="wmd-preview-section preview-content">

  <h4 id="备注">【备注】</h4>

  <p>出游时请携带出团通知及签约行程，方便您查询相关信息。 <br>
     如有需要特殊房型，如大床房可致电当地OP:和小姐13629605297 接站司机电话以出团前一天联系您的司机师傅电话为准。</p>

  <blockquote>
    <p>友情提示：请您按照出团通知书的时间办理登机/乘车手续，如出现误机/车情况，一切后果自负。航班/火车的时间为官方公布时间，以实际出发、达到时间为准。</p>
  </blockquote>

  </div><div id="wmd-preview-section-193" class="wmd-preview-section preview-content">

  <h5 id="为了您能安全愉快地进行游览请您务必阅读以下旅行须知">为了您能安全愉快地进行游览，请您务必阅读以下旅行须知：</h5>

  </div><div id="wmd-preview-section-207" class="wmd-preview-section preview-content">

  <h4 id="重要提示">【重要提示】</h4>

  <ol><li rel="1">16周岁以上者务必携带本人身份证，16周岁以下无身份证者须携带户口本原件，外宾携带本人护照原件。</li>
  <li rel="2">请至少提前2个小时到达机场办理登机手续，至少提前1.5个小时到达火车站凭车票办理乘车手续，以免误机误车。</li>
  <li rel="3">确认出票后，如您因个人原因未能顺利出游，产生的损失由您自行承担。</li>
  <li rel="4">合同一经签订且付全款，团队机票、列车票、船票即为出票，不得更改、签转、退票。</li>
  <li rel="5">导游可能会根据行程状况调整行程先后顺序，但是游览景点不会减少，标准不会降低。</li>
  <li rel="6">行程中赠送项目若因航班时间、天气、人力不可抗拒等因素导致不能赠送的，不作退费。</li>
  </ol>

  </div><div id="wmd-preview-section-222" class="wmd-preview-section preview-content">

  <h4 id="温馨提示-1">【温馨提示】</h4>

  <ol><li rel="1">当地购物时请慎重考虑，把握好质量与价格，务必索要发票。</li>
  <li rel="2">潜水、骑马、登山等存在危险的项目，请务必在专业指导下进行，且根据自身条件选择参加，切勿超过安全警戒范围。</li>
  <li rel="3">建议购买旅游意外险，若在旅途中发现意外，请您当地就医（条件允许的情况下尽量选择二甲以上医院），且保留当地医院提供的各类诊断证明、发票和病例的原件；意外发生时请尽快向保险公司紧急联系电话报案，并请及时向保险公司申请理赔，如因您通知不及时或治疗凭证不齐全，造成无法挽回的损失，我方不承担赔偿责任。</li>
  <li rel="4">如果您购买了包含航班延误保障的旅游意外险或航空意外险，若遇机场航班延误达到保险中航班延误理赔最低要求，请您在机场该航空柜台开具航班延误证明（需原件，内容包括航班时间、航班号、延误时间、延误原因四项信息）并保留登机牌，出游归来后我方可协助您向保险公司索赔。</li>
  <li rel="5">我方处理游客意见以游客填写的意见单为依据，请如实填写，不填或虚填者归来后投诉将无法受理。</li>
  <li rel="6">投诉建议邮箱：tuniucs@tuniu.com。</li>
  </ol>

  </div><div id="wmd-preview-section-253" class="wmd-preview-section preview-content">

  <h4 id="行程出游须知">【行程&amp;出游须知】</h4>

  <p请到会员中心下载您的行程</p>

  </div><div id="wmd-preview-section-270" class="wmd-preview-section preview-content">

  <h4 id="跟团须知">【跟团须知】</h4>

  <ol><li rel="1">游览途中请注意保护环境。</li>
  <li rel="2">跟团游线路的自费景点可自愿参加。</li>
  <li rel="3">请注意集体观念、时间观念，按照导游指定的时间、地点集合，请各位游客相互关照，相互帮助。</li>
  <li rel="4">进入酒店客房后首先要阅读酒店须知，清点好房内设施是否齐备、是否已损坏，避免退房时因为东西不全而被索赔；另外在酒店房间内请注意防滑。</li>
  <li rel="5">旅行社安排的旅游定点餐厅，团队餐质量有限，敬请游客体谅。</li>
  </ol>

  </div><div id="wmd-preview-section-271" class="wmd-preview-section preview-content">

  <h4 id="活动推荐">【活动推荐】</h4>

  <p>游玩归来写游记 1000元旅游券免费送凡在途牛旅游网游记频道发表游记的童鞋，我们会根据您发表的内容返赠旅游券，金额最高可达1000元，还有冲刺免费旅游的机会喔！带上相机，快快行动吧！ <br>
   更多详情请参见：<a href="http://www.tuniu.com/gt/youji/" target="_blank">http://www.tuniu.com/gt/youji/</a></p>

  <p>祝您旅途愉快！</p></div><div id="wmd-preview-section-footnotes" class="preview-content"></div></div></body></html>
</div>
